server:
  port: 8080

spring:
  application:
    name: spring-demo
  datasource:
    driverClassName: com.mysql.cj.jdbc.driver
    url: jdbc:mysql://${DB_HOST}/spring_db?useSSL=false
    username: root
    password: ${MYSQL_ROOT_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
