apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:5.6
        env:
         - name: MYSQL_ROOT_USERNAME
           valueFrom:
             secretKeyRef:
               name: mysql-secret
               key: db_username
         - name: MYSQL_ROOT_PASSWORD
           valueFrom:
             secretKeyRef:
               name: mysql-secret
               key: db_password

        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-persistant-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistant-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim

---

apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  selector:
    app: mysql
  ports:
  - port: 3306
  clusterIP: None

